RAW_CAPTURE_PATH=/var/lib/videodata/raw
TIMELAPSE_PATH=/var/lib/videodata/timelapse
TMP_PATH=/var/lib/videodata/tmp
DAMAGED_PATH=/var/lib/videodata/damaged
ARCHIVE_PATH=/var/lib/videodata/archive
READ_ONLY=False
ENABLE_S3=False